.gallery {
    padding: 10px;
    padding-left: 0;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
}

.gallery ul li {
    margin-right: 25px;
}

.gallery ul li:nth-child(4) {
    margin-right: 0;
}

.gallery ul li:first-child {
    margin-left: 0;
}

.gallery ul li a img {
    width: 300px;
    max-width: 300px;
    height: 90%;
    border: 6px solid #FFF;
    border-radius: 15px;
}