.header-content{
    width: 1440px;
    height: 970px;
    background-image: url(https://s3-alpha-sig.figma.com/img/4cc6/3439/424d4dd55664ec139b35d728ccf62135?Expires=1740960000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=nOiXw9ugpIRBcteJ7L2-dPrhcJBL2OW8n52i0vW8C3vfNtVdTzjvhxz9nHmp1Li~02PkxZCd~nbkgxbxQmvkwHcFFurtgU8aXoxNGBpmpUCEUJ3IhYXFqRrXVFghdlvUdv9Z~EyiAKD8vhledhTE3pz-cOAGrnhNnOw4~BcDpL4DqKF9goL7-vb-Pzsrw2GLnmFbk505Y~9AfvlKebgT4XiNq4aLJghTI8JjKqrB6IcQmV6RJDxqpMW3uuwRHC-Wwuwx~l-gUWoxX4oDHCjZYftgAsC61D5p80RlA60NVFklemUChikN6hs6tB8Gk4nPCFF1jOf8qCXN-296HnFWSg__);

}